<app-mcq *ngIf="exercise.exercise_type === 'multiple-choice'" [sessionType]="'exercise'"></app-mcq>
<app-match-pair *ngIf="exercise.exercise_type === 'match-the-pair'" [sessionType]="'exercise'"></app-match-pair>
<app-true-false *ngIf="exercise.exercise_type === 'truefalse'" [sessionType]="'exercise'"></app-true-false>
<app-anagram *ngIf="exercise.exercise_type === 'anagram'" [sessionType]="'exercise'"></app-anagram>
<app-fillin *ngIf="exercise.exercise_type === 'fill_in_the_blanks'" [sessionType]="'exercise'"></app-fillin>
<app-recording *ngIf="exercise.exercise_type === 'recording'" [sessionType]="'exercise'"></app-recording>
