<app-page-title [pageTitle]="'Forgot Password'"></app-page-title>
<div class="row sign-box mx-lg-auto">
    <div class="col-lg-6 text-center">
        <p class="white-text" id="email-instruction">Enter Your Email Below</p>
        <div *ngIf="!passwordReset">
            <form class="form-group" name="resetForm" [formGroup]="resetForm" (submit)="reset(resetForm)">
                <input
                    class="form-control input-default seoc-btn-width"
                    formControlName="email"
                    name="email"
                    [ngClass]="{
                        'has-error':
                            resetForm.value.email &&
                            resetForm.controls.email.invalid &&
                            resetForm.controls.email.touched,
                    }"
                    type="email"
                    placeholder="Email"
                />

                <div class="form-group d-flex flex-row justify-content-between mw40r mx-auto">
                    <a
                        id="back-to-home"
                        href="javascript:void(0)"
                        routerLink=""
                        class="text-btn text-blue-hover text-left font-weight-bold my-auto"
                        >Back to Home</a
                    >
                    <button type="submit" class="btn btn-white" id="new-pwd-submit-btn">Submit</button>
                </div>
            </form>
        </div>
        <div *ngIf="passwordReset">
            <p class="mb-4 text-center reset-pass-msg">{{ passMsg }}</p>
        </div>
    </div>
    <div class="col-lg-6 text-center d-none d-lg-block">
        <app-site-image></app-site-image>
    </div>
</div>
