<div class="tlc-card tlc-width-whole tlc-width-third-lg-up">
    <div class="tlc-column tlc-gap-sm" id="teacher-info">
        <div class="tlc-flex tlc-align-items-center tlc-gap-xs">
            <h2 class="tlc-ts-22">Classroom Administration</h2>
            <a href="/contact-us">
                <i class="fa fa-question-circle"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Ask a question">
                </i>
            </a>
        </div>
        <app-classroom-select></app-classroom-select>
        @if (!!classroom) {
            <div>
                <h3 class="tlc-ts-18">Calendar</h3>
                <p>
                    {{ classroom.start_date | date: "MM-dd-yyyy" }} &ndash;
                    {{ classroom.end_date | date: "MM-dd-yyyy" }}
                </p>
                <p>
                    From this page, you can add and edit your classes, create new students or add existing students to
                    your classes, and reset passwords.
                </p>
            </div>
        }
    </div>
</div>

@if (!classroom.level) {
    <div id="class-overview" class="tlc-card tlc-width-whole tlc-width-two-thirds-lg-up">
        <h3 class="tlc-ts-22">
            Welcome to Classoom administration. Once you have created your first Lesson Plan, you may create a new
            class, add students to the class, and schedule the release of units from this menu.
        </h3>
    </div>
}

@if (!!classroom.level) {
    <div class="tlc-card tlc-width-whole tlc-width-two-thirds-lg-up">
        <div id="class-overview">
            <h3 class="tlc-ts-22">Lesson Plan ({{ classroom.level.name }})</h3>
            <div class="teacher-check teacher-check-all">
                <div class="form-row">
                    <div class="col-xs-12 col-sm-9 col-lg-6">
                        <dl>
                            <dt>Bulk Change (all units)</dt>
                        </dl>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-lg-2">
                        <span>is active</span>
                        <label class="teacher-switch">
                            <button class="button2no round" type="button" (click)="updateAllClassroomUnits('active', false)">
                                No
                            </button>
                            <button class="button2yes round" type="button" (click)="updateAllClassroomUnits('active', true)">
                                Yes
                            </button>
                        </label>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-lg-2">
                        <span>optional</span>
                        <label class="teacher-switch">
                            <button
                                class="button2no round"
                                type="button"
                                (click)="updateAllClassroomUnits('optional', false)">
                                No
                            </button>
                            <button
                                class="button2yes round"
                                type="button"
                                (click)="updateAllClassroomUnits('optional', true)">
                                Yes
                            </button>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        @for (classroomUnit of classroomUnits; track $index) {
            <div class="teacher-check teacher-check-alternating">
                <div class="form-row">
                    <div class="col-xs-12 col-sm-9 col-lg-6">
                        <dl>
                            <dt>
                                {{ classroomUnit.level_unit.unit.name }} -
                                {{ classroomUnit.level_unit.unit.description }}
                            </dt>
                            <dd>
                                release on:
                                <input
                                    type="date"
                                    (change)="checkDateAndUpdateClassroomUnit(classroomUnit)"
                                    [(ngModel)]="classroomUnit.release_date"
                                    id="start"
                                    name="trip-start"
                                    value="" />
                            </dd>
                        </dl>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-lg-2">
                        <span>is active</span>
                        <label class="teacher-switch">
                            <input
                                type="checkbox"
                                (change)="updateClassroomUnit(classroomUnit)"
                                [(ngModel)]="classroomUnit.active"
                                id="active-{{ classroomUnit.level_unit.unit.id }}" />
                            <span class="slider2 round"></span>
                        </label>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-lg-2">
                        <span>optional</span>
                        <label class="teacher-switch">
                            <input
                                type="checkbox"
                                (change)="updateClassroomUnit(classroomUnit)"
                                [(ngModel)]="classroomUnit.optional"
                                id="optional-{{ classroomUnit.level_unit.unit.id }}" />
                            <span class="slider2 round"></span>
                        </label>
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (!!classroom?.id) {
    <div class="tlc-card tlc-width-whole">
        <div id="student-overview">
            <div cdkDropListGroup class="tlc-row tlc-gap-sm">
                <div class="tlc-column tlc-width-half-md-up tlc-flex-1 tlc-gap-xs">
                    <h3 class="tlc-ts-22">{{ school.school.name }} Students</h3>
                    <div class="teacher-dnd tlc-column tlc-flex-1 tlc-gap-xs">
                        <div cdkDropList
                            #schoolStudentsList="cdkDropList"
                            [cdkDropListData]="schoolStudents"
                            class="teacher-dnd-list tlc-column"
                            (cdkDropListDropped)="drop($event)">
                            @for (student of schoolStudents; track $index) {
                                <div class="list-group-item tlc-flex tlc-justify-content-between tlc-align-items-center" cdkDrag>
                                    <img src="{{ student.user.usersetting.FullProfileImageUrl }}" />
                                    <span>{{ student.user.name }} - {{ student.user.email }}</span>
                                    <i class="fa fa-arrow-right"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="Click or Drag to Move"
                                        (click)="moveStudentToClassroom($index)">
                                    </i>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                @if (!!classroom) {
                    <div class="tlc-column tlc-width-half-md-up tlc-flex-1 tlc-gap-xs">
                        <h3 class="tlc-ts-22">{{ classroom.name }} Students</h3>
                        <div class="teacher-dnd tlc-column tlc-flex-1 tlc-gap-xs">
                            <div cdkDropList
                                #classroomStudentsList="cdkDropList"
                                [cdkDropListData]="classroomStudents"
                                class="teacher-dnd-list tlc-column"
                                (cdkDropListDropped)="drop($event)">
                                @for (student of classroomStudents; track $index) {
                                    <div class="list-group-item tlc-flex tlc-justify-content-between tlc-align-items-center" cdkDrag>
                                        <i class="fa fa-arrow-left"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="Click or Drag to Move"
                                        (click)="moveStudentToSchool($index)">
                                        </i>
                                        <img src="{{ student.user.usersetting.FullProfileImageUrl }}" />
                                        <span>{{ student.user.name}} - {{ student.user.email }}</span>
                                    </div>
                                }
                            </div>
                        </div>
                        @if (unsavedStudentChanges) {
                            <div class="unsaved">
                                <button class="btn teacher-save" (click)="updateClassroomStudents()">
                                    <i class="fa fa-save" data-toggle="tooltip" data-placement="top" title="Save Roster"></i>
                                    Save Changes
                                </button>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}
