<div class="p-lg-4 pb-4">
    <div class="text-left">
        <p>
            The {{ environment.SITE_NAME }} community is here to support you in your
            {{ environment.LANGUAGE }} learning path. If age or privacy is a concern though, please
            select the appropriate options below.
        </p>
    </div>
    <div class="scroll-y">
        <div class="path-check">
            <div class="form-row">
                <div class="col-6">
                    <dl>
                        <dt>Parental Lock</dt>
                    </dl>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <div class="d-flex flex-column align-items-center">
                        <label class="switch">
                            <input
                                type="checkbox"
                                [(ngModel)]="privacy.parentalLockOn"
                                (change)="openParentalLockModal()"
                            />
                            <span class="slider round"></span>
                        </label>
                        <a
                            href="javascript:void(0)"
                            class="invite-frd edit-parental-lock rounded-pill"
                            *ngIf="privacy.parentalLockOn && privacy.parentalLockCode"
                            (click)="lockEditFlag = true"
                            data-toggle="modal"
                            data-target="#parentalLockModal"
                        >
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="path-check">
            <div class="form-row">
                <div class="col-6">
                    <dl>
                        <dt>Public Profile</dt>
                    </dl>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <label class="switch">
                        <input
                            type="checkbox"
                            [disabled]="
                                !privacy.isAdult ||
                                (privacy.parentalLockOn && privacy.parentalLockCode)
                            "
                            [(ngModel)]="privacy.profileIsPublic"
                            (change)="updatePrivacySetting('public')"
                        />
                        <span
                            class="slider round"
                            [ngClass]="{
                                'greyed-out':
                                    !privacy.isAdult ||
                                    (privacy.parentalLockOn && privacy.parentalLockCode),
                            }"
                        ></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="path-check">
            <div class="form-row">
                <div class="col-6">
                    <dl>
                        <dt>Public Leader Board</dt>
                    </dl>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <label class="switch">
                        <input
                            type="checkbox"
                            [disabled]="
                                !privacy.isAdult ||
                                (privacy.parentalLockOn && privacy.parentalLockCode)
                            "
                            [(ngModel)]="privacy.onPublicLeaderboard"
                            (change)="updatePrivacySetting('leaderboard')"
                            [ngClass]="{
                                'greyed-out':
                                    !privacy.isAdult ||
                                    (privacy.parentalLockOn && privacy.parentalLockCode),
                            }"
                        />
                        <span
                            class="slider round"
                            [ngClass]="{
                                'greyed-out':
                                    !privacy.isAdult ||
                                    (privacy.parentalLockOn && privacy.parentalLockCode),
                            }"
                        ></span>
                    </label>
                </div>
            </div>
        </div>
        <!-- <div class="path-check">
								<div class="form-row">
									<div class="col-xs-12 col-sm-9 col-lg-9">
										<dl>
											<dt>Audio Archiving</dt>
										</dl>
									</div>
									<div class="col-xs-12 col-sm-3 col-lg-3">
										<label class="switch">
											<input type="checkbox" [(ngModel)]="privacy.audioArchive" (change)="updatePrivacySetting('audioArchive')">
											<span class="slider round"></span>
										</label>
									</div>
								</div>
							</div> -->
        <button
            id="view-privacy-btn"
            (click)="goToUrl('about/privacy')"
            class="btn btn-blue-real mt-3"
        >
            View Privacy Policy
        </button>
    </div>
</div>

<!-- Parental Lock Modal -->
<div
    class="modal fade modal-n"
    id="parentalLockModal"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    role="dialog"
    aria-labelledby="ParentalLock"
>
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title" id="myModalLabel">Parental Locks</h3>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                    (click)="cancelUpdatingParentalLockCode()"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-n-table">
                <form
                    *ngIf="!lockEditFlag"
                    name="parentalForm"
                    [formGroup]="createParentalLockCodeForm"
                    (submit)="onParentalLockCodeChange(createParentalLockCodeForm)"
                >
                    <input
                        class="form-control input-default seoc-btn-width"
                        autocomplete="off"
                        formControlName="parentalLockCode"
                        name="parentalLockCode"
                        [ngClass]="{
                            'has-error':
                                createParentalLockCodeForm.value.parentalLockCode &&
                                createParentalLockCodeForm.controls.parentalLockCode.invalid &&
                                createParentalLockCodeForm.controls.parentalLockCode.touched,
                        }"
                        type="password"
                        placeholder="Parental Lock Code"
                    />

                    <div class="parental-lock-btn">
                        <button
                            type="button"
                            class="btn btn-gray-text-hover"
                            data-dismiss="modal"
                            (click)="cancelUpdatingParentalLockCode()"
                        >
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                <form
                    *ngIf="lockEditFlag"
                    name="parentalEditForm"
                    [formGroup]="updateParentalLockCodeForm"
                    (submit)="onParentalLockCodeChange(updateParentalLockCodeForm)"
                >
                    <input
                        class="form-control input-default seoc-btn-width"
                        formControlName="parentalLockCodeCurrent"
                        name="parentalLockCodeCurrent"
                        [ngClass]="{
                            'has-error':
                                updateParentalLockCodeForm.value.parentalLockCodeCurrent &&
                                updateParentalLockCodeForm.controls.parentalLockCodeCurrent
                                    .invalid &&
                                updateParentalLockCodeForm.controls.parentalLockCodeCurrent.touched,
                        }"
                        type="password"
                        placeholder="Current Parental Lock Code"
                    />
                    <input
                        class="form-control input-default seoc-btn-width"
                        formControlName="parentalLockCodeNew"
                        name="parentalLockCodeNew"
                        [ngClass]="{
                            'has-error':
                                updateParentalLockCodeForm.value.parentalLockCodeNew &&
                                updateParentalLockCodeForm.controls.parentalLockCodeNew.invalid &&
                                updateParentalLockCodeForm.controls.parentalLockCodeNew.touched,
                        }"
                        type="password"
                        placeholder="New Parental Lock Code"
                    />

                    <div class="parental-lock-btn">
                        <button
                            type="button"
                            class="btn btn-gray-text-hover"
                            data-dismiss="modal"
                            (click)="cancelUpdatingParentalLockCode()"
                        >
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Parental Lock Modal -->
