<div>
  <!-- Small audio icon in corner above all other data -->
  @if (isActive(DataType.Audio) && enabledDataTypes.length > 1) {
    <div class="w-100 ml-3 mb-3">
      <a
        href="javascript:void(0)"
        (click)="audioService.playPauseAudio(card.FullAudioUrl, optionType)"
        >
        @if (enabledDataTypes.length > 1) {
          <i
            class="fa-solid fa-2xl"
            [ngClass]="audioIsPlaying() ? 'fa-volume-high' : 'fa-volume-off'"
          ></i>
        }
      </a>
    </div>
  }

  <!-- Lakota prompt -->
  @if (isActive(DataType.Language)) {
    <div class="text-center my-4 font-language">
      <div
        class="prompt-font-size prompt-line-height w-100 d-block"
        [innerHTML]="card.lakota | safeHtml"
      ></div>
    </div>
  }

  <!-- Custom HTML prompt -->
  @if (
    (optionType === 'prompt' && card.PromptType === 'html') ||
    (optionType === 'response' && card.ResponseType === 'html')
    ) {
    <div
      class="text-center my-4 font-language prompt-font-size prompt-line-height"
      [innerHTML]="(optionType === 'prompt' ? card.prompt_html : card.response_html) | safeHtml"
    ></div>
  }

  <!-- Image prompt -->
  @if (isActive(DataType.Image) && card.image && card.image.FullUrl) {
    <div class="text-center">
      <a class="mb-2 d-block w-100" href="javascript:void(0)">
        <app-image-zoom [src]="card.image.FullUrl"></app-image-zoom>
      </a>
    </div>
  }

  <!-- Card Video -->
  @if (isActive(DataType.Video) && card.video && card.video.FullUrl) {
    <div
      class="text-center mx-auto w-100 my-2"
      >
      <video controls controlslist="nodownload" preload="auto" class="w-100">
        <source [src]="card.video.FullUrl" />
      </video>
    </div>
  }

  <!-- Audio prompt (for sole audio card) -->
  @if (isActive(DataType.Audio) && enabledDataTypes.length === 1) {
    <div class="text-center my-2">
      <a
        class="audio-prompt d-block w-100"
        href="javascript:void(0)"
        (click)="audioService.playPauseAudio(card.FullAudioUrl, optionType)"
        >
        <i
          class="fa-solid font-size-3p5"
          [ngClass]="audioIsPlaying() ? 'fa-volume-high' : 'fa-volume-off'"
        ></i>
        <!-- <img [src]="getAudioIconUrl()" class="" /> -->
      </a>
    </div>
  }

  <!-- English prompt -->
  @if (isActive(DataType.English)) {
    <div class="text-center my-4 font-language">
      <div
        class="prompt-font-size prompt-line-height d-block w-100"
        [innerHTML]="card.english | safeHtml"
      ></div>
    </div>
  }
</div>
