@if (breadcrumbs.length > 0 && showBreadcrumb) {
  <div class="breadcumb pt-1">
    @for (breadcrumb of breadcrumbs; track breadcrumb; let i = $index) {
      <div class="breadcumb-link">
        @if (breadcrumb?.name !== '') {
          <a
            id="breadcumb-link-{{ i }}"
            href="javascript:void(0)"
            [ngClass]="{ active: router?.routerState?.snapshot?.url === breadcrumb.url }"
            (click)="onBreadcrumbClick(breadcrumb)"
            >
            {{ breadcrumb?.name }}
          </a>
        }
        @if (breadcrumb?.name !== '') {
          <span class="breadcumb-slash">/</span>
        }
      </div>
    }
  </div>
}
