<app-friend-sidebar></app-friend-sidebar>

<div class="row mt-2">
    <div class="col-12 col-lg-4">
        <app-page-title [pageTitle]="'Village'"></app-page-title>
    </div>
    <div class="col-12 col-lg-8">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="d-flex short-by-fld">
                    <div class="input-group mb-3 search-area align-items-center">
                        <input
                            type="text"
                            name="searchTxt"
                            [(ngModel)]="searchTxt"
                            class="form-control input-default"
                            placeholder="Search here"
                            aria-label="Search here"
                            aria-describedby="basic-addon2"
                            inputmode="none"
                        />
                        <span [hidden]="searchTxt === ''" class="icon-close" (click)="clear()">
                            <i class="fa fa-times-circle"></i>
                        </span>
                        <div class="input-group-append">
                            <button class="input-default btn" type="button" (click)="search()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center text-center">
    <div class="col-12 l-speed">
        <div
            *ngIf="!noPost"
            class="row justify-content-start units-container mx-1"
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollUpDistance]="1.5"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()"
            [scrollWindow]="false"
        >
            <div *ngFor="let post of postList" class="logo-container-box forum-box col-12">
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <div class="profile-pic-section">
                            <div class="forum-profile-pic" (click)="goToProfile(post.user)">
                                <img
                                    *ngIf="!post.user.usersetting.FullProfileImageUrl"
                                    src="./assets/images/user_img.png"
                                />
                                <img
                                    *ngIf="post.user.usersetting.FullProfileImageUrl"
                                    [src]="post.user.usersetting.FullProfileImageUrl"
                                />
                            </div>
                            <h4 *ngIf="post.user_id === user.id" (click)="goToProfile(post.user)">You</h4>
                            <h4 *ngIf="post.user_id !== user.id" (click)="goToProfile(post.user)" class="text-break">
                                {{ post.user.name }}
                            </h4>

                            <div class="forum-profile-logos">
                                <img src="./assets/images/ro-red.png" />
                                <img src="./assets/images/btn-review.png" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-9">
                        <div class="forum-content">
                            <h4 class="cursor-pointer font-language" (click)="goToDetails(post)">{{ post.title }}</h4>
                            <h6>
                                {{ post.entry_time }} - {{ post.viewer_count }} views
                                <a
                                    href="javascript:void(0);"
                                    *ngIf="post.user_id === user.id || user.role_id === 4 || user.role_id === 1"
                                    (click)="openModal('newPost', 'edit', post)"
                                >
                                    - Edit</a
                                >
                                <a
                                    href="javascript:void(0);"
                                    *ngIf="post.user_id === user.id || user.role_id === 4 || user.role_id === 1"
                                    (click)="deletePost(post)"
                                >
                                    - Delete</a
                                >
                            </h6>
                            <p class="prewrap font-language">{{ post.content }}</p>
                        </div>
                    </div>
                </div>
                <div class="bottom-replies-panel">
                    <div class="row flex-nowrap align-items-center">
                        <div class="col-3">
                            <a
                                href="javascript:void(0)"
                                *ngIf="user.id !== post.user.id"
                                class="report-post"
                                (click)="openReportPostModal(post)"
                            >
                                <img src="./assets/images/report.png" alt="" title="Report this post" />
                            </a>
                        </div>
                        <div class="col-9" align="center">
                            <a href="javascript:void(0)" class="relpy-link pull-right" (click)="goToDetails(post)"
                                >{{ post.replycounter }} Replies</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center" *ngIf="noPost">
            <div class="col-12 text-center">
                <h3 class="text-white no-units">No posts to show.</h3>
            </div>
        </div>
    </div>
</div>

<app-report-post-modal></app-report-post-modal>

<div
    class="modal fade modal-n"
    data-backdrop="static"
    id="newPost"
    tabindex="-1"
    role="dialog"
    aria-labelledby="New Post"
    appAdjustModalForKeyboard
>
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title" id="reset-progress-data">New Topic</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="postForm" [formGroup]="postForm" (submit)="createPost(postForm)">
                <div class="modal-body modal-n-table">
                    <input
                        type="text"
                        placeholder="Title"
                        formControlName="title"
                        name="title"
                        class="form-control input-default seoc-btn-width"
                        [ngClass]="{
                            'has-error':
                                postForm.value.title &&
                                postForm.controls.title.invalid &&
                                postForm.controls.title.touched,
                        }"
                        inputmode="none"
                        appAutoScrollModalInput
                    />
                    <textarea
                        name="content"
                        placeholder="Description"
                        formControlName="content"
                        class="form-control input-default seoc-btn-width"
                        [ngClass]="{
                            'has-error':
                                postForm.value.content &&
                                postForm.controls.content.invalid &&
                                postForm.controls.content.touched,
                        }"
                        inputmode="none"
                        appAutoScrollModalInput
                    ></textarea>
                    <select
                        *ngIf="(user.role_id === 4 || user.role_id === 1) && activeForum === null"
                        formControlName="postStatus"
                        class="form-control input-default seoc-btn-width"
                    >
                        <option value="R" selected>Reject</option>
                        <option value="A">Approve</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
