.continue-bttn {
    max-width: 45%;
}

.teacher-message h5 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.teachers-list h5,
.teachers-list a {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

.teachers-list img {
    height: 30px;
    border-radius: 50%;
}

.teacher-list {
    text-align: center;
}
