@use "./assets/scss/modules/_theme";

.col-lg-3,
.col-lg-12 {
    padding-right: 0;
} 

#teacher-info {
    height: 100%;
}

.fa-question-circle {
    margin-bottom: 4.5px;
}

.panel-body {
    min-height: 65px;
}
.label-w-100 {
    width: 100px;
}
.label-w-200 {
    width: 200px;
}
.label-w-155 {
    width: 155px;
}
.overview-levels {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 3px;
    padding-bottom: 0;
    overflow-x: auto;
    scrollbar-color: theme.$primary-color #ffffff14;
    scrollbar-width: thin;
}

.level-container {
    display: flex;
    gap: 1rem;
}

.active-level a {
    background: theme.$primary-color !important;
    color: white !important;
}

.level-container a {
    border: 2px solid theme.$primary-color;
    border-radius: .5rem;
    color: black;
    background: white;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 110px;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    width: 160px;
}

.level-container a:hover {
    background: theme.$primary-color;
    color: white;
    & > i {
        color: white;
    }
}
.level-container a i:hover {
    color: white;
}

.level-container img {
    height: 42px;
    margin-top: 10px;
}
.level-container a i {
    font-size: 25px;
    color: theme.$primary-color;
    margin-top: 10px;
    margin-left: 0;
    padding-bottom: 5px;
    padding-left: 0;
}

.link-btn {
    width: 100% !important;
    max-width: 100% !important;
    padding: 10px;
}

.user-array-form {
    max-height: 360px;
    overflow: auto;
}
.modal-lg {
    max-width: 1000px;
}

.seoc-btn-thin {
    display: inline;
}
