<div class="col-xs-5 col-sm-8 col-lg-12 l-speed">
    <div class="row justify-content-start">
        <div class="col-xs-3 col-sm-4 col-lg-3">
            <div id="teacher-info" class="logo-container-box col-lg-12">
                <h5>School Administration</h5>
                <p>
                    From this page, you can add students and teachers to your school and change school settings and
                    information.
                </p>
                <h5>
                    <a href="/contact-us"
                        ><i
                            class="fa fa-question-circle"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Ask a question"
                        ></i
                    ></a>
                </h5>
            </div>
        </div>
        <div id="class-overview" class="logo-container-box col-9">
            <h5>
                Add Students and Teachers
                <!--<i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Edit Levels"></i>-->
            </h5>
            <div class="overview-levels">
                <div>
                    <ul class="level-container">
                        <!--<li (click)="openModal('googleClassroom')"><a>From Google Classroom<br><img src="https://upload.wikimedia.org/wikipedia/commons/5/59/Google_Classroom_Logo.png"><br></a></li>-->
                        <li>
                            <a (click)="openModal('getLink')"
                                >Create<br />Invitation Link<br />
                                <i (click)="openModal('getLink')" class="fa fa-link"></i>
                            </a>
                        </li>
                        <li>
                            <a (click)="openModal('addUsers')"
                                >Create<br />New Accounts<br />
                                <i (click)="openModal('addUsers')" class="fa fa-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-sm-4 col-lg-12">
            <div id="student-overview" class="logo-container-box">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-lg-12">
                        <h5>
                            {{ school.school.name }} Teachers
                            <!--<i class="fa fa-download" data-toggle="tooltip" data-placement="top" title="Download Roster"></i>-->
                        </h5>

                        <div class="panel panel-warning teacher-dnd teacher-dnd-left">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li *ngFor="let teacher of schoolTeachers; let i = index" class="list-group-item">
                                        <img src="{{ teacher.user.usersetting.FullProfileImageUrl }}" />{{
                                            teacher.user.name
                                        }}
                                        - {{ teacher.user.email }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-sm-4 col-lg-12">
            <div id="student-overview" class="logo-container-box">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <h5>Classrooms</h5>
                                <div class="panel panel-warning teacher-dnd teacher-dnd-left">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li
                                                *ngFor="let classroom of classrooms; let i = index"
                                                class="list-group-item"
                                            >
                                                <p>{{ classroom.name }}</p>
                                                <a href="javascript:void(0)" (click)="deleteClassroom(classroom.id)"
                                                    >Delete classroom</a
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h5>Archived Classrooms</h5>
                                <div class="panel panel-warning teacher-dnd teacher-dnd-left">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li
                                                *ngFor="let classroom of archivedClassrooms; let i = index"
                                                class="list-group-item"
                                            >
                                                <p>{{ classroom.name }}</p>
                                                <a href="javascript:void(0)" (click)="deleteClassroom(classroom.id)"
                                                    >Delete classroom</a
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-sm-4 col-lg-12">
            <div id="student-overview" class="logo-container-box">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-lg-12">
                        <h5>
                            {{ school.school.name }} Students
                            <!--<i class="fa fa-download" data-toggle="tooltip" data-placement="top" title="Download Roster"></i>-->
                        </h5>

                        <div class="panel panel-warning teacher-dnd teacher-dnd-right">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li *ngFor="let student of schoolStudents; let i = index" class="list-group-item">
                                        <img src="{{ student.user.usersetting.FullProfileImageUrl }}" />{{
                                            student.user.name
                                        }}
                                        - {{ student.user.email }}
                                        <!--<div *ngIf="student.user.fb_id==null && student.user.google_id==null && student.user.clever_id==null" class="editStudent"><i fa fa-caret-down" data-toggle="tooltip" data-placement="top" (click)="getEditUser(i)" title="Edit User"></i><div>-->
                                        <div
                                            *ngIf="
                                                (!student.user.fb_id || student.user.fb_id === 0) &&
                                                (!student.user.google_id || student.user.google_id === 0) &&
                                                (!student.user.clever_id || student.user.clever_id === 0)
                                            "
                                        >
                                            <a href="javascript:void(0)" (click)="changePasswordModal(i)"
                                                >reset password</a
                                            >
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div #formModal class="modal fade">
    <div class="modal-dialog show" [ngClass]="{ 'modal-lg': modalType === 'addUsers' }">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ modalHeader }}</h5>
                <button type="button" class="close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="modalType === 'addUsers'" class="modal-body">
                <p>
                    When adding a new users, you may either add students individually <br />
                    or upload an excel file using the following
                    <a [href]="newUsersUploadTemplateLink" target="_blank">template</a>
                    <input type="file" (change)="importExcelUsers($event)" accept=".xlsx,.xls" class="ml-3" />
                </p>

                <form [formGroup]="newUsersForm" (submit)="addNewUsers(newUsersForm)">
                    <span><label for="name">Add Students to Class</label></span>
                    <span
                        ><select formControlName="classroom" class="form-control seoc-btn-thin seoc-btn-width">
                            <option value="-1" selected>Add to School Only</option>
                            <option *ngFor="let classroom of classrooms; let i = index" value="{{ i }}">
                                {{ classroom.name }}
                            </option>
                        </select>
                    </span>

                    <div class="user-array-form" formArrayName="new_users">
                        <div *ngFor="let item of newUsers.controls; let userIndex = index" [formGroupName]="userIndex">
                            <label class="label-w-200">
                                Student ID:
                                <input class="form-control seoc-btn-thin seoc-btn-width" formControlName="studentid" />
                            </label>
                            <label class="label-w-200">
                                First:
                                <input class="form-control seoc-btn-thin seoc-btn-width" formControlName="fname" />
                            </label>
                            <label class="label-w-200">
                                Last:
                                <input class="form-control seoc-btn-thin seoc-btn-width" formControlName="lname" />
                            </label>
                            <label class="label-w-200">
                                Email:
                                <input
                                    class="form-control seoc-btn-thin seoc-btn-width"
                                    formControlName="email"
                                    email
                                />
                            </label>
                            <label class="label-w-200">
                                Password:
                                <input class="form-control seoc-btn-thin seoc-btn-width" formControlName="password" />
                            </label>
                            <label class="label-w-155">
                                Date of Birth:
                                <input
                                    type="date"
                                    class="form-control seoc-btn-thin seoc-btn-width"
                                    formControlName="dob"
                                />
                            </label>
                            <label for="role"
                                >Role
                                <select formControlName="role" class="form-control seoc-btn-thin seoc-btn-width">
                                    <option value="3" selected>Student</option>
                                    <option value="1">Teacher</option>
                                    <option value="2">Substitute</option>
                                </select></label
                            >
                            <a class="ml-2" (click)="deleteNewUserRow(userIndex)"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-text-hover" (click)="addNewUserRow()">
                        Add User<i class="fa fa-plus ml-2"></i>
                    </button>
                    <br />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div *ngIf="modalType === 'getLink'" class="modal-body">
                <p>
                    A link can be created to allow students into your classroom.<br />Those students must either already
                    have an account or create one themselves.
                </p>
                <form [formGroup]="getLinkForm">
                    <span><label for="name">Select Classroom</label></span>
                    <span
                        ><select formControlName="classroom" class="form-control seoc-btn-thin seoc-btn-width">
                            <option value="-1" selected>Add to School Only</option>
                            <option *ngFor="let classroom of classrooms; let i = index" value="{{ i }}">
                                {{ classroom.name }}
                            </option>
                        </select>
                    </span>

                    <label class="link-btn">
                        <a (click)="copyInputMessage()">Copy Me!</a>
                        <input class="seoc-btn-thin link-btn" value="{{ wordlink }}" #inputWordLink />
                    </label>
                    <button type="button" class="btn btn-text-hover" (click)="generateLink(getLinkForm)">
                        Generate New Link
                    </button>
                </form>
            </div>
            <div *ngIf="modalType === 'googleClassroom'" class="modal-body">
                <p>
                    You may connect your account and add students to classes using your existing Google Classroom
                    account.
                </p>
                <h3>Coming Soon!</h3>
            </div>
            <div *ngIf="modalType === 'changePassword'" class="modal-body">
                <form name="changeForm" [formGroup]="changeForm" (submit)="changePassword(changeForm)">
                    <input
                        #passwordInput
                        class="form-control input-default seoc-btn-width"
                        formControlName="password"
                        name="password"
                        [ngClass]="{
                            'has-error':
                                changeForm.value.password &&
                                changeForm.controls.password.invalid &&
                                changeForm.controls.password.touched,
                        }"
                        type="password"
                        placeholder="New Password"
                    />
                    <input
                        class="form-control input-default seoc-btn-width"
                        formControlName="confirmpassword"
                        name="confirmpassword"
                        [ngClass]="{
                            'has-error':
                                changeForm.value.confirmpassword &&
                                changeForm.controls.confirmpassword.invalid &&
                                changeForm.controls.confirmpassword.touched,
                        }"
                        type="password"
                        placeholder="Confirm New Password"
                    />

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" (click)="closeModal()">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
