<app-friend-sidebar></app-friend-sidebar>
<app-page-title [pageTitle]="'Add Friends'"></app-page-title>

<div class="row mt-2">
  <div class="col">
    <div class="row justify-content-center">
      <div class="col">
        <div class="d-flex short-by-fld">
          <input
            type="text"
            name="searchTxt"
            [(ngModel)]="searchItem.search"
            class="form-control input-default seoc-btn-width"
            placeholder="Search here"
            aria-label="Search here"
            aria-describedby="basic-addon2"
            (input)="search()"
            />
          <span [hidden]="searchItem.search === ''" class="icon-close" (click)="clear()">
            <i class="fa fa-times-circle"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center text-center units-container mx-0">
  <div class="col-12 l-speed">
    @if (friends.length > 0) {
      <div class="row justify-content-start">
        @for (friend of friends; track friend) {
          <div class="logo-container-box forum-box col-12">
            <div class="row">
              <div class="col-3">
                <div class="profile-pic-section">
                  <div class="forum-profile-pic" (click)="goToProfile(friend)">
                    @if (!friend.image) {
                      <img src="./assets/images/user_img.png" />
                    }
                    @if (friend.image) {
                      <img [src]="friend.image" />
                    }
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="forum-content pb-0">
                  <div class="row">
                    <div class="col cursor-pointer" (click)="goToProfile(friend)">
                      <h4>{{ friend.name }}</h4>
                    </div>
                  </div>
                  @if (friend.profile_desc) {
                    <p>{{ friend.profile_desc }}</p>
                  }
                </div>
                <div class="row justify-content-center">
                  <div
                                [ngClass]="{
                                    'friends-btn': friend.friendstatus,
                                    'add-friends-btn': !friend.friendstatus,
                                }"
                    >
                    @if (!friend.friendstatus) {
                      <a
                        (click)="friendAddRemove(1, friend)"
                        href="javascript:void(0)"
                        >Add Friend</a
                        >
                      }
                      @if (friend.friendstatus) {
                        <a
                          (click)="friendAddRemove(0, friend)"
                          href="javascript:void(0)"
                          >Friends</a
                          >
                        }
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <img src="./assets/images/ro-red.png" class="w-4 mt-1 mx-1" />
                    <img src="./assets/images/btn-review.png" class="w-4 mt-1 mx-1" />
                    @if (friend.userType === 'google') {
                      <img
                        src="./assets/images/google_img.png"
                        alt=""
                        class="w-4 mt-2 mx-1"
                        />
                    }
                    @if (friend.userType === 'fb') {
                      <img
                        src="./assets/images/face-icon.png"
                        alt=""
                        class="w-4 mt-2 mx-1"
                        />
                    }
                  </div>
                </div>
              </div>
            }
            @if (friends.length > limit) {
              <div class="forum-box col-12">
                @if (allUsers.length !== friends.length) {
                  <button
                    type="button"
                    class="btn btn-primary btn-load-more"
                    (click)="loadMore()"
                    >
                    Load More Users
                  </button>
                }
              </div>
            }
          </div>
        }
        @if (friends.length < 1) {
          <div class="row justify-content-center text-center">
            <div class="col-12 text-center">
              <h3 class="text-white no-units">No friends to show</h3>
            </div>
          </div>
        }
      </div>
    </div>
