<div class="row sign-box">
    <div class="col-lg-6 text-center">
        <h2 class="blue-bg">Change Password</h2>
        <p class="white-text">Set Your New Password Below</p>
        <div *ngIf="!passwordReset">
            <form name="changeForm" [formGroup]="changeForm" (submit)="changePassword(changeForm)">
                <input
                    class="form-control input-default seoc-btn-width"
                    formControlName="password"
                    name="password"
                    [ngClass]="{
                        'has-error':
                            changeForm.value.password &&
                            changeForm.controls.password.invalid &&
                            changeForm.controls.password.touched,
                    }"
                    type="password"
                    placeholder="New Password"
                />
                <input
                    class="form-control input-default seoc-btn-width"
                    formControlName="confirmpassword"
                    name="confirmpassword"
                    [ngClass]="{
                        'has-error':
                            changeForm.value.confirmpassword &&
                            changeForm.controls.confirmpassword.invalid &&
                            changeForm.controls.confirmpassword.touched,
                    }"
                    type="password"
                    placeholder="Confirm New Password"
                />

                <div class="form-group row m-w">
                    <div class="col-5">
                        <button type="submit" class="btn btn-white">Submit</button>
                    </div>
                    <div class="col-7">
                        <div class="form-check">
                            <a
                                href="javascript:void(0)"
                                routerLink=""
                                class="pull-left text-btn text-blue-hover text-left font-weight-bold"
                                >Back to Home</a
                            >
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="passwordReset">
            <p class="mb-4 text-center reset-pass-msg">{{ passMsg }}</p>
        </div>
    </div>
    <div class="col-lg-6 text-center">
        <app-site-image></app-site-image>
    </div>
</div>
