<div class="modal-header text-center">
    <h3 class="modal-title">Let's get you signed up</h3>
</div>
<div class="modal-body modal-n-table">
    <h5>Sign up to save progress across devices, browsers, and updates, and unlock age-restricted features.</h5>
</div>

<!-- Next button -->
<div class="modal-footer">
    <!-- Do not accept and delete account button -->
    <button
        type="submit"
        class="btn btn-secondary font-weight-normal"
        (click)="notNowBtnPressed()"
    >
        Not now
    </button>
    <button
        type="submit"
        class="btn btn-primary"
        (click)="signUpBtnPressed()"
    >
        Sign up
    </button>
</div>

