<div class="row no-gutters align-items-center mb-2 mt-6 mt-lg-0 page-title position-relative">
    <div class="position-absolute">
        <a href="javascript:void(0)" class="text-primary" (click)="historyBack()">
            <i class="fa-solid fa-play fa-2xl fa-flip-horizontal"></i>
        </a>
    </div>
    <div class="mx-auto px-10">
        <div class="text-center text-white">
            <h1 class="bg-primary rounded-pill py-1 px-5 my-auto">{{ pageTitle }}</h1>
        </div>
    </div>
</div>
