@use "./assets/scss/modules/_theme";

.table td,
.table th {
    padding: 0.15rem;
    vertical-align: center !important;
    border-top: 1px solid #dee2e6;
}
.col-lg-3,
.col-lg-12 {
    padding-right: 0;
}

#student-overview .panel {
    max-height: 300px;
    overflow: auto;
    scrollbar-color: theme.$primary-color #ffffff14;
    scrollbar-width: thin;
}

#class-overview tbody {
    max-height: 275px;
}
#teacher-info {
    height: 100%;
}
.overview-table {
    overflow: auto;
    margin-bottom: 10px;
}

input[type="checkbox"].css-checkbox + label.css-label-sortable {
    padding-left: 44px;
    height: 17px;
    display: inline-block;
    line-height: 19px;
    background-repeat: no-repeat;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer;
    margin: 10px 0 0 0;
    color: theme.$text-ui-panel-light-contrast-light;
}

input[type="checkbox"].css-checkbox:checked + label.css-label-sortable {
    background-position:
        0 0,
        22px -17px;
}

ul {
    list-style-type: none;
}

.teacher-dnd {
    margin: 0;
    
    &-list {
        flex-grow: 1;
        margin: 0;

        &:empty {
            border: 2px solid rgba(0, 0, 0, 0.125);
        }
    }

    i {
        color: #2392d0;
        font-size: 1.5em;
    }

    &:not(:first-of-type) i {
        color: #9f0b10;
    }
}

.list-group-item {
    padding: 0 !important;

    span {
        padding: 0.75rem;
    }

    &:last-of-type {
        border-bottom: none;
    }
}

.dnd-sortable-drag {
    transform: scale(1);
    opacity: 0.7;
    border: 1px dashed black;
}
.panel-body {
    min-height: 200px;
}

.overview-levels {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 3px;
    padding-bottom: 0;
    overflow-x: auto;
    scrollbar-color: theme.$primary-color #ffffff14;
    scrollbar-width: thin;
}

.level-container {
    display: flex;
    gap: .25rem;
    justify-content: space-between;
}

.active-level a {
    background: theme.$primary-color !important;
    color: white !important;
    
}

.level-container a {
    align-items: center;
    color: black;
    background: white;
    border: 2px solid theme.$primary-color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    height: 80px;
    justify-content: center;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    width: 160px;
}

.level-container a:hover {
    background: theme.$primary-color;
    color: white;
    & i {
        color: white;
    }
}

.level-container img {
    height: 40px;
    border-radius: 50%;
}
.level-container a i {
    font-size: 28px;
    color: theme.$primary-color;
    margin-left: 0;
    padding-left: 0;
}

.dropdown-menu.show {
    border: none;
    border-radius: 4px !important;
    box-shadow: 0 .25rem .5rem rgb(36, 49, 66, .16);
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    width: 100%;
}

.teacherportal-drop  {
    .dropdown-menu-wrap{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.teacher-check {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;

    &:last-of-type {
        border-bottom: none;
    }

    dl {
        flex-grow: 1;
        margin-bottom: 0;
    }

    .custom-control-indicator {
        border: 1px solid transparent;
        box-shadow: none;
        display: flex;
        height: 2rem;
        left: unset;
        position: relative;
        top: unset;
        width: .5rem;
    }
}

.teacher-drop {
    align-items: center;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}