<div class="tlc-card tlc-width-whole tlc-width-third-lg-up">
    <div id="teacher-info" class="tlc-column tlc-gap-xs">
        <div class="tlc-flex tlc-align-items-center tlc-gap-xs">
            <h2 class="tlc-ts-22">Lesson Administration</h2>
            <a href="/contact-us">
                <i class="fa fa-question-circle"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Ask a question"></i>
            </a>
        </div>
        <p>
            From this page, you can arrange curriculum for your classes. Each class may be
            assigned a single level, but a level may be shared between classes.
        </p>
    </div>
</div>
<div id="class-overview" class="tlc-card tlc-column tlc-width-whole tlc-width-two-thirds-lg-up tlc-gap-xs">
    <h3 class="tlc-ts-22">Your Lesson Plans</h3>
    <div class="overview-levels">
        <div class="level-container">
            <a (click)="openModal()"
                >Add New Lesson Plan
                <i (click)="openModal()"class="fa fa-plus"></i>
            </a>
            <a *ngFor="let level of listTeacherLevels; let i = index"
            [ngClass]="{ 'active-level': i === activeLevelIndex }"
            (click)="setActiveTeacherLessonPlan(i)">
                {{ level.level.name }}
                <img src="{{ level.level.image.FullUrl }}" />
            </a>
        </div>
        <div *ngIf="activeLevelIndex === -1">
            <h4 class="tlc-ts-22">
                Click the Add New Lesson Plan button to start building your first
                Lesson Plan
            </h4>
        </div>
    </div>
</div>
<div *ngIf="activeLevelIndex > -1" class="tlc-card tlc-width-whole">
    <div id="student-overview tlc-column">
        <div cdkDropListGroup class="tlc-column tlc-gap-sm">
            <div class="tlc-row tlc-justify-content-between">
                <div class="tlc-column tlc-gap-xs">
                    <h3 class="tlc-ts-22">Editing {{ listTeacherLevels[activeLevelIndex].level.description }}</h3>
                </div>
            </div>
            <div class="tlc-row tlc-gap-sm">
                <!-- Paths dropdown -->
                <div class="teacherportal-drop tlc-column tlc-width-whole tlc-width-quarter-md-up tlc-flex-1">
                    <span class="tlc-ts-16 tlc-font-sans">Learning Path</span>
                    <div *ngIf="currentAvailablePathIndex > -1" class="dropdown">
                        <button class="teacher-drop dropdown-toggle"
                            type="button"
                            id="levelDropdownBtn"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <span>
                                {{ availablePaths[currentAvailablePathIndex].label}}
                            </span>
                            <!-- <span *ngIf="!currentClassroomIndex">Select Classroom</span> -->
                        </button>
                        <div class="dropdown-menu" aria-labelledby="levelDropdownBtn">
                            <div class="dropdown-menu-wrap">
                                <div class="teacher-check tlc-row tlc-width-whole" *ngFor="let availablePath of availablePaths; let i = index">
                                    <div class="tlc-row tlc-align-items-center tlc-width-whole" style="cursor: pointer; gap: 10px;" (click)="setCurrentAvailablePath(i)">
                                        <div class="tlc-flex">
                                            <label class="custom-control custom-radio tlc-sr-only">Learning Paths</label>
                                                <input
                                                    id="availablePath-{{ i }}"
                                                    name="radio-stacked-available-path"
                                                    type="radio"
                                                    value="{{ availablePath.id }}"
                                                    class="custom-control-input tlc-display-none"
                                                    required=""
                                                    [checked]="
                                                        currentAvailablePathIndex === i
                                                    "
                                                />
                                                <span class="custom-control-indicator tlc-flex"></span>
                                        </div>
                                        <dl>
                                            <dt>{{ availablePath.label }}</dt>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Levels dropdown -->
                <div class="teacherportal-drop tlc-column tlc-width-whole tlc-width-quarter-md-up tlc-flex-1">
                    <span class="tlc-ts-16 tlc-font-sans">Level</span>
                    <div *ngIf="currentAvailableLevelIndex > -1" class="dropdown">
                        <button class="teacher-drop dropdown-toggle"
                            type="button"
                            id="levelDropdownBtn"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <span>{{ availablePaths[currentAvailablePathIndex]?.levels[currentAvailableLevelIndex]?.name }}</span>
                            <!--<span *ngIf="!currentClassroomIndex">Select Classroom</span>-->
                        </button>
                        <div class="dropdown-menu" aria-labelledby="levelDropdownBtn">
                            <div class="dropdown-menu-wrap">
                                <div
                                    class="teacher-check tlc-row tlc-width-whole"
                                    *ngFor="
                                        let availableLevel of availablePaths[
                                            currentAvailablePathIndex
                                        ]?.levels;
                                        let i = index
                                    "
                                >
                                    <div class="tlc-row tlc-align-items-center tlc-width-whole" style="cursor: pointer; gap: 10px;"
                                        (click)="setCurrentAvailableLevel(i)">
                                        <div class="tlc-flex">
                                            <label class="custom-control custom-radio tlc-sr-only">Levels</label>
                                                <input
                                                    id="availableLevel-{{ i }}"
                                                    name="radio-stacked-available-level"
                                                    type="radio"
                                                    value="{{ availableLevel.id }}"
                                                    class="custom-control-input tlc-display-none"
                                                    required=""
                                                    [checked]="
                                                        currentAvailableLevelIndex === i
                                                    "
                                                />
                                                <span class="custom-control-indicator tlc-flex"></span>
                                        </div>
                                        <dl>
                                            <dt>{{ availableLevel.name }}</dt>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tlc-column-reverse tlc-width-whole tlc-width-half-md-up">
                    <div class="unsaved tlc-flex tlc-justify-content-end" *ngIf="unsavedUnitChanges">
                        <button class="tlc-row tlc-button tlc-align-items-center tlc-gap-xxs" (click)="saveTeacherLevelUnits()">
                            <span class="tlc-line-height--tight tlc-ts-22 tlc-font-sans">Save Changes</span>
                            <i class="fa fa-save"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Save Lesson">
                            </i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Available units list for selected path and level -->
            <div class="tlc-row tlc-justify-content-between tlc-gap-sm">
                <div class="teacher-dnd tlc-column tlc-width-half-md-up tlc-flex-1 tlc-gap-xs">
                    <div
                        *ngIf="
                            currentAvailablePathIndex > -1 &&
                            currentAvailableLevelIndex > -1
                        "
                        cdkDropList
                        [cdkDropListData]="
                            availablePaths[currentAvailablePathIndex]?.levels[
                                currentAvailableLevelIndex
                            ]?.units
                        "
                        class="teacher-dnd-list tlc-column"
                    >
                        <div
                            class="list-group-item tlc-flex tlc-justify-content-between tlc-align-items-center"
                            *ngFor="
                                let unit of availablePaths[currentAvailablePathIndex]
                                    ?.levels[currentAvailableLevelIndex]?.units;
                                let i = index
                            "
                            cdkDrag
                        >
                            <span>{{ unit.name }} - {{ unit.description
                            }}</span><i
                                class="fa fa-arrow-right"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Click or Drag to Move"
                                (click)="addUnitToLesson(i)"
                            ></i>
                        </div>
                    </div>
                </div>
                <div class="teacher-dnd tlc-column tlc-width-half-md-up tlc-flex-1 tlc-gap-xs">
                    <div cdkDropList
                        #classroomStudentsList="cdkDropList"
                        [cdkDropListData]="listLevelUnits"
                        class="teacher-dnd-list tlc-column"
                        (cdkDropListDropped)="drop($event)">
                        <div class="list-group-item tlc-flex tlc-justify-content-between tlc-align-items-center"
                            *ngFor="let levelUnit of listLevelUnits; let i = index"
                            cdkDrag>
                            <span>{{ levelUnit.unit.name }} - {{ levelUnit.unit.description }}</span>
                            <i class="fa-regular fa-circle-xmark"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Click or Drag to Move"
                                (click)="removeUnitFromLesson(i)">
                            </i>
                        </div>
                    </div>
                </div>
            </div>

                <!--<div class="panel panel-success teacher-dnd">
                    <div class="panel-body" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="listLevelUnits">
                        <ul class="list-group" >
                            <li *ngFor="let item of listLevelUnits; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{item.name}} - {{item.description}}</li>
                        </ul>
                    </div>
                </div>-->
        </div>
    </div>
</div>
<div #formModal class="modal fade">
    <div class="modal-dialog show">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Lesson Plan</h4>
                <button type="button" class="close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    When adding a new lesson, you may copy an existing lesson or start from scratch.
                    A lesson plan sets the content and order for the curriculum of a class. When
                    creating a class, a lesson plan is required. Additional options for releasing
                    units as optional units, scored(test) units, and scheduled units are available
                    for specific classes from the classroom menu.
                </p>
                <form
                    name="newLevelForm"
                    [formGroup]="newLevelForm"
                    (submit)="createNewLevel(newLevelForm)"
                >
                    <div class="modal-body modal-n-table seoc-btn-row">
                        <span><label for="name">Name</label></span>
                        <span
                            ><input
                                type="text"
                                placeholder="Name"
                                formControlName="name"
                                name="name"
                                class="form-control input-default seoc-btn-thin seoc-btn-width"
                                [ngClass]="{
                                    'has-error':
                                        newLevelForm.value.name &&
                                        newLevelForm.controls.name.invalid &&
                                        newLevelForm.controls.name.touched,
                                }"
                            /> </span
                        ><br /><span><label for="name">Description</label></span>
                        <span
                            ><input
                                type="text"
                                placeholder="Description"
                                formControlName="description"
                                name="description"
                                class="input-default form-control seoc-btn-thin seoc-btn-width"
                                [ngClass]="{ 'has-error': newLevelForm.value.description }"
                            /> </span
                        ><br /><span><label for="name">Copy Units</label></span>
                        <span
                            ><select
                                formControlName="newLevelContent"
                                class="teacher-drop dropdown-toggle" 
                            >
                                <option value="-2" selected>All Units</option>
                                <option value="-1" selected>Empty</option>
                                <option
                                    *ngFor="let level of listTeacherLevels; let i = index"
                                    value="{{ i }}"
                                >
                                    {{ level.level.name }}
                                </option>
                            </select>
                        </span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-text-hover" (click)="closeModal()">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
