@if (showPopup) {
  <div>
    <!--popup overlay starts-->
    <div class="popup-overlay" (click)="closePopup()"></div>
    <!--popup overlay ends-->
    <!--exercise popup starts-->
    @if (popupType === 'exercise') {
      <div
        class="result-box position-fixed"
        [ngClass]="{ 'result-box-success': popupStatus, 'result-box-fail': !popupStatus }"
        (click)="audioService.playPauseAudio(activeCard.FullAudioUrl)"
        [@fadeScaleBounceAnimation]="'initial'"
        >
        @if (popupStatus) {
          <div class="result-box-feather">
            <img class="filter-dropshadow-img" src="./assets/images/result-box-feather.png" />
          </div>
        }
        @if (popupStatus) {
          <h1 class="font-language font-bold">{{ getCorrectAnswerHeader(popupData.total) }}</h1>
        }
        @if (!popupStatus) {
          <h1 class="font-language font-bold">{{ wrongAnswerHeader }}</h1>
        }
        <div class="result-rewards">
          @if (popupStatus && popupData.total > 0) {
            <h6 class="custom-font">+{{ popupData.total }} XP</h6>
          }
          @if (!popupStatus && review && !previousDisable) {
            <a
              href="javascript:void(0)"
              (click)="previous()"
              [ngClass]="{ 'disabled-arrow': previousDisable }"
              class="review-arrow review-arrow-left"
            ></a>
          }
          @if (!popupStatus && review) {
            <div class="review-incorrect-wrapper">
              <div class="review-incorrect-content">
                <h5 class="font-language font-bold">{{ OwoksapeUtils.stripHtml(activeCard.lakota) }}</h5>
                <h6 class="font-language font-bold">{{ OwoksapeUtils.stripHtml(activeCard.english) }}</h6>
              </div>
              @if (activeCard.FullAudioUrl) {
                <div class="speaker-incorrect-icon">
                  <a href="javascript:void(0)">
                    @if (
                      audioService.getAudioSrc() !== activeCard.FullAudioUrl || audioService.audioIsPaused()
                      ) {
                      <img
                        src="./assets/images/sound-icon-mute-white-small.png"
                        />
                    }
                    @if (
                      audioService.getAudioSrc() === activeCard.FullAudioUrl && !audioService.audioIsPaused()
                      ) {
                      <img
                        src="./assets/images/sound-icon-white-small.png"
                        />
                    }
                  </a>
                </div>
              }
            </div>
          }
          @if (!popupStatus && review && !nextDisable) {
            <a
              href="javascript:void(0)"
              (click)="next()"
              [ngClass]="{ 'disabled-arrow': nextDisable }"
              class="review-arrow review-arrow-right"
            ></a>
          }
        </div>
        @if (!popupStatus) {
          <a class="btn-reward" (click)="closePopup()">X</a>
        }
      </div>
    }
    <!--exercise popup ends-->
    <!--review score popup starts-->
    @if (popupType === 'reviewScore') {
      <div class="popup-wrapper popup-blue-bg">
        <!--popup title starts -->
        <div class="popup-title popup-title-big">
          <h3 class="title-small-feather">
            <span class="feather-left">
              <img
                class="filter-dropshadow-img"
                src="./assets/images/feather-double-left.png"
                alt="feather-left"
                />
            </span>
            <span class="font-language font-bold">{{ getCorrectAnswerHeader(popupData.total) }}</span>
            <span class="feather-right">
              <img
                class="filter-dropshadow-img"
                src="./assets/images/feather-double-right.png"
                alt="feather-right"
                />
            </span>
          </h3>
        </div>
        <!--popup title ends -->
        <!--popup main content starts -->
        <div class="popup-main-content content-width-medium">
          <div class="blue-box-small box-width-250">
            <div class="box-label">
              <h5>
                <span class="text-width custom-font">Listening</span>
                <span>
                  <i class="fa-solid fa-ear-listen fa-lg"></i>
                </span>
              </h5>
            </div>
            <div class="label-value">
              <h6 class="custom-font">{{ popupData.listening_score_total }}</h6>
            </div>
          </div>
          <div class="blue-box-small box-width-250">
            <div class="box-label">
              <h5>
                <span class="text-width custom-font">Writing</span>
                <span>
                  <i class="fa-solid fa-pen-to-square fa-lg"></i>
                </span>
              </h5>
            </div>
            <div class="label-value">
              <h6 class="custom-font">{{ popupData.writing_score_total }}</h6>
            </div>
          </div>
          <div class="blue-box-small box-width-250">
            <div class="box-label">
              <h5>
                <span class="text-width custom-font">Reading</span>
                <span>
                  <i class="fa-solid fa-book-open-reader fa-lg"></i>
                </span>
              </h5>
            </div>
            <div class="label-value">
              <h6 class="custom-font">{{ popupData.reading_score_total }}</h6>
            </div>
          </div>
          <div class="blue-box-small box-width-250 box-btm-mrgn-10">
            <div class="box-label">
              <h5>
                <span class="text-width custom-font">Speaking</span>
                <span>
                  <i class="fa-solid fa-microphone fa-lg"></i>
                </span>
              </h5>
            </div>
            <div class="label-value">
              <h6 class="custom-font">{{ popupData.speaking_score_total }}</h6>
            </div>
          </div>
          <div class="blue-box-small box-width-250">
            <div class="box-label">
              <h5 class="custom-font">Bonus Points</h5>
            </div>
            <div class="label-value">
              <h6 class="custom-font">{{ popupData.path_score_total }}</h6>
            </div>
          </div>
          <div class="total-points-panel">
            <div class="points-block">
              <h5 class="custom-font">Total</h5>
            </div>
            <div class="points-block">
              <h5 class="custom-font">{{ popupData.total }} XP</h5>
            </div>
            <div class="points-block">
              <h5 class="custom-font">Earned</h5>
            </div>
          </div>
        </div>
        <!--popup main content ends -->
        <button type="button" class="btn btn-white pull-right custom-font" (click)="closePopupReview()">Next</button>
      </div>
    }
    <!--review score popup ends-->
  </div>
}
