@if (!!frame && frame.lesson_frame_blocks?.length > 0) {
  <div class="block-container-box">
    <!-- Frame Audio -->
    @if (frame.FrameAudioUrl) {
      <a
        class="pull-right"
        href="javascript:void(0);"
        (click)="playAudio(frame.FrameAudioUrl)"
        >
        @if (audioService.getAudioSrc() !== frame.FrameAudioUrl || audioService.audioIsPaused()) {
          <img
            src="./assets/images/sound-mute-blue-btn.png"
            />
        }
        @if (audioService.getAudioSrc() === frame.FrameAudioUrl && !audioService.audioIsPaused()
          && audioService.audioType === 'frame') {
          <img
            src="./assets/images/sound-blue-btn.png"
            />
        }
      </a>
    }
    <div class="row justify-content-evenly align-items-center no-gutters">
      <!-- One or two blocks (wrapped) -->
      @if (frame.number_of_block === 1 || frame.number_of_block === 2) {
        <ng-container *ngTemplateOutlet="frameBlock; context: { block: frame.lesson_frame_blocks[0], idx: 0 }">
        </ng-container>
        @if (frame.number_of_block === 2) {
          <ng-container *ngTemplateOutlet="frameBlock; context: { block: frame.lesson_frame_blocks[1], idx: 1 }">
          </ng-container>
        }
      }
      <!-- Three blocks -->
      @if (frame.number_of_block === 3) {
        <!-- Small screens -->
        <div class="col d-lg-none d-block">
          <ng-container *ngTemplateOutlet="frameBlock; context: { block: frame.lesson_frame_blocks[0], idx: 0 }">
          </ng-container>
          <ng-container *ngTemplateOutlet="frameBlock; context: { block: frame.lesson_frame_blocks[1], idx: 1 }">
          </ng-container>
          <ng-container *ngTemplateOutlet="frameBlock; context: { block: frame.lesson_frame_blocks[2], idx: 2 }">
          </ng-container>
        </div>
        <!-- Large screens -->
        <div class="col-lg-6 d-none d-lg-block">
          <ng-container *ngTemplateOutlet="frameBlock; context: { block: frame.lesson_frame_blocks[0], idx: 0 }">
          </ng-container>
        </div>
        <div class="col-lg-6 d-none d-lg-block">
          <ng-container *ngTemplateOutlet="frameBlock; context: { block: frame.lesson_frame_blocks[1], idx: 1 }">
          </ng-container>
          <ng-container *ngTemplateOutlet="frameBlock; context: { block: frame.lesson_frame_blocks[2], idx: 2 }">
          </ng-container>
        </div>
      }
    </div>
  </div>
}

@if (!frame || frame.lesson_frame_blocks?.length <= 0) {
  <div class="block-container-box">
    <div class="text-center">
      <p class="font-language">Lesson frame is empty</p>
    </div>
  </div>
}

<ng-template #frameBlock let-block="block" let-idx="idx">
  <div id="block-{{ idx }}" class="blue-border" (click)="checkAudio(block, 'block-' + idx)">
    <!-- Card Audio -->
    @if (block.is_card_audio === 'Y' && block.CardDetails.FullAudioUrl) {
      <a
        class="pull-right"
        href="javascript:void(0);"
        >
        @if (audioService.getAudioSrc() !== block.CardDetails.FullAudioUrl || audioService.audioIsPaused()
          || audioService.audioType !== 'block-' + idx) {
          <i
            class="fa-solid fa-volume-off"
          ></i>
        }
        @if (audioService.getAudioSrc() === block.CardDetails.FullAudioUrl && !audioService.audioIsPaused()
          && audioService.audioType === 'block-' + idx) {
          <i
            class="fa-solid fa-volume-high"
          ></i>
        }
      </a>
    }
    @if (block.type === 'card') {
      <div class="text-center position-relative">
        <!-- Card Language text -->
        @if (block.is_card_lakota === 'Y' && block.CardDetails.lakota) {
          <p
            class="lakota-text px-10 font-language"
            [innerHTML]="block.CardDetails.lakota | safeHtml"
          ></p>
        }
        <!-- Card Image -->
        <span class="">
          @if (block.is_card_image === 'Y' && block.CardDetails.image) {
            <app-image-zoom
              clazz="lesson-card-image"
              [src]="block.CardDetails.image.ResizeImageUrl"
              alt="{{ block.CardDetails.image.name }}"
              (error)="imageError($event, 0)"
              >
            </app-image-zoom>
          }
        </span>
        <!-- Card Video -->
        @if (block.is_card_video === 'Y' && block.CardDetails.video && block.is_card_image !== 'y') {
          <div
            class="text-center"
            >
            <video controls controlslist="nodownload" autoplay="false" preload="auto" class="lesson-video">
              <source [src]="block.CardDetails.video.FullUrl" />
            </video>
          </div>
        }
        <!-- Card English text -->
        @if (block.is_card_english === 'Y' && block.CardDetails.english) {
          <p
            class="lesson-english-text mt-4 font-language"
            [innerHTML]="block.CardDetails.english | safeHtml"
          ></p>
        }
      </div>
    }
    <!-- Custom HTML block -->
    @if (block.type === 'html') {
      <div
        class="text-center custom-html-lesson font-language"
        [innerHTML]="block.custom_html | safeHtml"
      ></div>
    }
    <!-- Audio block -->
    @if (block.type === 'audio') {
      <div class="text-center">
        <a class="frame-audio-file" href="javascript:void(0);">
          @if (audioService.getAudioSrc() !== block.AudioUrl || audioService.audioIsPaused()) {
            <i
              class="fa-solid fa-volume-off"
            ></i>
          }
          @if (audioService.getAudioSrc() === block.AudioUrl && !audioService.audioIsPaused()
            && audioService.audioType === 'block-' + idx) {
            <i
              class="fa-solid fa-volume-high"
            ></i>
          }
        </a>
      </div>
    }
    <!-- Image block -->
    @if (block.type === 'image') {
      <div class="blue-border p-2 text-center" id="box-{{ idx + 1 }}">
        <app-image-zoom [src]="block.ImageUrl" clazz="lesson-image-block" (load)="setBlockSizes()"></app-image-zoom>
      </div>
    }
    <!-- Video block -->
    @if (block.type === 'video') {
      <div class="text-center">
        <video controls controlslist="nodownload" autoplay="false" preload="auto" class="lesson-video">
          <source [src]="block.VideoUrl" />
        </video>
      </div>
    }
  </div>
</ng-template>
