<app-keyboard></app-keyboard>
<app-reward-popups></app-reward-popups>
<div
  id="cards-main-div"
  class="mx-2"
    [ngClass]="{
        nolevel:
            !unit?.activities.length ||
            (unit?.activities[currentActivityIdx]?.flowType === 'exercise' &&
                !currentExercise?.questions?.length) ||
            (unit.activities[currentActivityIdx]?.flowType === 'lesson' &&
                !currentLesson()?.lessonframes?.length),
    }"
  >
  <!-- Debugging information -->
  @if (debug) {
    <div class="d-none d-lg-block">
      <div>
        State: <b>{{ this.machine.state }}</b>
      </div>
      <div>
        Last Event: <b>{{ this.lastEvent }}</b>
      </div>
      <div>
        Activity: <b>{{ currentActivityIdx }}</b>
      </div>
      @if (currentActivityType() === 'exercise') {
        <div>
          Question: <b>{{ currentExerciseQuestionIdx }}</b>
        </div>
      }
      @if (currentActivityType() === 'lesson') {
        <div>
          Frame: <b>{{ currentLessonFrameIdx }}</b>
        </div>
      }
      @if (!!this.unitProgressNav && machine.state !== 'Start') {
        <div>
          Unit complete:
          <b>{{ this.unitProgressNav.unitCompleteOrPreviouslyCompleted ? "true" : "false" }}</b>
        </div>
      }
    </div>
  }

  <!-- Content -->
  <div class="row row-cols-1 row-cols-lg-2 justify-content-center">
    <!-- Progress navigation bar -->
    <app-unit-progress-nav
      class="col-lg-2"
      [unit]="unit"
      [currentActivityIdx]="currentActivityIdx"
      [currentExerciseQuestionIdx]="currentExerciseQuestionIdx"
      [currentLessonFrameIdx]="currentLessonFrameIdx"
      (activityPressedEvent)="activityPressed($event)"
    ></app-unit-progress-nav>

    <!-- Message: No questions in exercise -->
    @if (
      unitFetched &&
      exerciseFetched &&
      currentActivityType() === 'exercise' &&
      !currentExercise?.questions?.length
      ) {
      <div
        class="col-10 d-none d-lg-block text-center"
        >
        <h3 class="text-white no-units">This exercise has no questions</h3>
      </div>
    }

    <!-- Message: No frames in lesson -->
    @if (
      unitFetched &&
      currentActivityType() === 'lesson' &&
      !currentLesson()?.lessonframes?.length
      ) {
      <div
        class="col-10 d-none d-lg-block text-center"
        >
        <h3 class="text-white no-units">This lesson has no frames</h3>
      </div>
    }

    <!-- Message: No activities in unit -->
    @if (unitFetched && !unit.activities.length) {
      <div
        class="col-10 d-none d-lg-block text-center"
        >
        <h3 class="text-white no-units">This unit has no activities</h3>
      </div>
    }

    <!-- Message: Fetching unit -->
    @if (!unitFetched) {
      <div class="col-10 d-none d-lg-block text-center">
        <h3 class="text-white no-units">Fetching unit...</h3>
      </div>
    }

    <!-- Message: Lesson or Exercise content -->
    @if (unitFetchedAndHasContent()) {
      <div
        class="col-lg-10 mt-2"
        [ngClass]="{ 'p-3': unitFetchedAndHasContent() }"
        >
        <div class="rounded-3 bg-white l-speed py-4 px-4">
          <app-single-card></app-single-card>
        </div>
        <!-- Lesson buttons -->
        @if (unit?.activities[currentActivityIdx]?.flowType === 'lesson') {
          <div
            id="lesson-btm-btns"
            class="row flex-nowrap justify-content-lg-end py-3"
            >
            <div class="col col-lg-10 offset-lg-2 px-0 px-3 d-flex justify-content-end">
              @if (showPreviousLessonFrameBtn()) {
                <button
                  type="button"
                  id="previousBtn"
                  class="btn btn-white manual-invert py-3 px-8 mr-5"
                  (click)="goToPreviousLessonFrameBtnPressed()"
                  >
                  Previous
                </button>
              }
              @if (showNextLessonFrameBtn()) {
                <button
                  type="button"
                  id="nextBtn"
                  class="btn btn-white manual-invert py-3 px-8"
                  (click)="goToNextLessonFrameBtnPressed()"
                  >
                  Next
                </button>
              }
              @if (showNextLessonBtn()) {
                <button
                  type="button"
                  id="nextLessonBtn"
                  class="btn btn-white manual-invert py-3 px-8"
                  (click)="goToNextLessonBtnPressed()"
                  >
                  Next Lesson
                </button>
              }
              @if (showNextExerciseBtn()) {
                <button
                  type="button"
                  id="nextExerciseBtn"
                  class="btn btn-white manual-invert py-3 px-8"
                  (click)="goToNextExerciseBtnPressed()"
                  >
                  Next Exercise
                </button>
              }
              @if (showStartReviewBtn()) {
                <button
                  type="button"
                  id="startReviewBtn"
                  class="btn btn-white manual-invert py-3 px-8"
                  (click)="startReviewBtnPressed()"
                  >
                  Start Review
                </button>
              }
              <!-- This button is needed in the event that a lesson in the last activity
              and there are incomplete exercises in the unit.
              -->
              @if (showUnitEndNextBtn()) {
                <button
                  type="button"
                  id="completeIncompleteExercisesBtn"
                  class="btn btn-white manual-invert py-3 px-8"
                  (click)="unitEndNextBtnPressed()"
                  >
                  Next
                </button>
              }
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>
