<div class="img-gallery-wrap">
  <input type="file" name="image" id="image" class="inputfile" (change)="uploadImage($event)" />
  <label for="image" class="btn btn-primary btn-upload-file">Upload Image For Gallery</label>
  @if (imageLength > 0) {
    <div class="row">
      <div class="col-xs-2 col-md-2 col-lg-2 text-right">
        @if (imageLength > 1) {
          <div class="arrow-holder">
            <a href="javascript:void(0)" (click)="previous()">
              <i class="fa fa-caret-left" aria-hidden="true"></i>
            </a>
          </div>
        }
      </div>
      <div class="col-xs-8 col-md-8 col-lg-8">
        <div class="slider-container" [@slider]="selectedIndex">
          @for (image of images; track image) {
            <div class="slide">
              @if (image) {
                <img [src]="image" />
              }
            </div>
          }
        </div>
      </div>
      <div class="col-xs-2 col-md-2 col-lg-2 text-left">
        @if (imageLength > 1) {
          <div class="arrow-holder">
            <a href="javascript:void(0)" (click)="next()">
              <i class="fa fa-caret-right" aria-hidden="true"></i>
            </a>
          </div>
        }
      </div>
    </div>
  }
</div>
