<div class="img-gallery-wrap">
    <input type="file" name="image" id="image" class="inputfile" (change)="uploadImage($event)" />
    <label for="image" class="btn btn-primary btn-upload-file">Upload Image For Gallery</label>
    <div class="row" *ngIf="imageLength > 0">
        <div class="col-xs-2 col-md-2 col-lg-2 text-right">
            <div class="arrow-holder" *ngIf="imageLength > 1">
                <a href="javascript:void(0)" (click)="previous()">
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="col-xs-8 col-md-8 col-lg-8">
            <div class="slider-container" [@slider]="selectedIndex">
                <div class="slide" *ngFor="let image of images">
                    <img *ngIf="image" [src]="image" />
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-md-2 col-lg-2 text-left">
            <div class="arrow-holder" *ngIf="imageLength > 1">
                <a href="javascript:void(0)" (click)="next()">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>
